@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  color: #B88E2F;
  text-decoration: none;
}

button {
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  transform: scale(0.9);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

nav .container {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .container ul li {
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}
nav .container ul li:hover {
  color: #B88E2F;
}
nav .container ul li::after {
  position: absolute;
  content: "";
  transition: all 0.3s ease;
  background-color: #B88E2F;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
}
nav .container ul li:hover::after {
  width: 100%;
}
nav .container h1 img {
  animation: logo 4s linear infinite;
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotateY(720deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero {
  background-image: url("../imgs/hero bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}
.hero .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .container .hero_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  background-color: #F9F1E7;
  padding: 20px 10px;
  width: 100%;
  margin-top: 50px;
}
.hero .container .hero_bottom .hero_bottom_card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero .container .hero_bottom .hero_bottom_card ul {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid gray;
  padding-right: 10px;
}
.hero .container .hero_bottom .hero_bottom_card button {
  background-color: white;
  color: #B88E2F;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.hero .container .hero_bottom .hero_bottom_card button:focus {
  background-color: #B88E2F;
  color: white;
}

.two .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.two .container .two_title {
  padding: 30px 0px;
  text-align: center;
}
.two .container .two_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.two .container .two_box .two_card {
  width: 300px;
  height: 470px;
  background-color: rgba(212, 202, 202, 0.575);
  padding: 10px;
  overflow-y: hidden;
  position: relative;
  cursor: pointer;
}
.two .container .two_box .two_card:hover .two_hide {
  transform: translateY(0);
}
.two .container .two_box .two_card .two_card_top {
  position: relative;
}
.two .container .two_box .two_card .two_card_top img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.two .container .two_box .two_card .two_card_top p {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: two 3s linear infinite;
}
@keyframes two {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 0px 5px 5px red;
  }
  100% {
    box-shadow: none;
  }
}
.two .container .two_box .two_card .two_p1 {
  color: gray;
  padding: 5px 0px;
}
.two .container .two_box .two_card .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.two .container .two_box .two_card .price p {
  padding: 5px 0px;
  color: gray;
  text-decoration: line-through;
}
.two .container .two_box .two_card .two_hide {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transform: translateY(-500px);
  background-color: rgba(0, 0, 0, 0.438);
  transition: all 0.3s ease;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
}
.two .container .two_box .two_card .two_hide button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #B88E2F;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
}
.two .container .two_box .two_card .two_hide button:hover {
  transform: scale(1.1);
}
.two .container .two_box .two_card .two_hide button:active {
  transform: scale(0.9);
}
.two .container .two_box .two_card .two_hide ul {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.two .container .two_bottom {
  padding: 10px 20px;
  border: 1px solid #B88E2F;
  background-color: white;
  color: #B88E2F;
  border-radius: 10px 0px 10px 0px;
  margin: 20px auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
.two .container .two_bottom:hover {
  transform: scale(1.1);
  border-radius: 0px 10px 0px 10px;
}
.two .container .two_bottom:active {
  transform: scale(0.9);
}

footer {
  border-top: 1px solid rgba(128, 128, 128, 0.452);
}
footer .container {
  padding: 50px 0px;
  padding-top: 100px;
}
footer .container .footer_box {
  padding: 30px 0px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .container .footer_box .footer_card {
  width: 300px;
}
footer .container .footer_box .footer_card h2 {
  padding-bottom: 30px;
}
footer .container .footer_box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
footer .container .footer_box ul li:nth-of-type(1) {
  color: gray;
}
footer .container .footer_box ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}
footer .container .footer_box ul li:hover {
  color: #B88E2F;
}
footer .container hr {
  margin: 20px 0px;
}/*# sourceMappingURL=shop.css.map */